
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(file:///C:/Users/dimi9/Downloads/DALL%C2%B7E-2023-01-31-03.01.webp);">
  <div class="container">
    <h1>Rejoignez notre voyage vers une vie plus heureuse avec nos <strong>massages</strong>  et <strong>coachings </strong>de bien-être.!</h1>

    <%= link_to "Commencez", massages_path, class: "btn btn-primary" %>
  </div>
</div><div class="container">




  <div class="card">
    <img src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="img-card">
  </div>

 <div class="card">
     <img src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="img-card">

  </div>

 <div class="card">
     <img src="https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWFzc2FnZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" class="img-card">

  </div>

 <div class="card">
     <img src="https://images.unsplash.com/photo-1591343395082-e120087004b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="" class="img-card">
  </div>

  <div class="me">
    <h2>Qui sommes-nous</h2>
    <h4>Notre histoire</h4>
    <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
      Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
      quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
    </p>
    <br>
    <p>
    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
    Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
    quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
    </p>
  </div>

  <div class="contact-home">
    <div class="content-text content ">
      <h2>Contactez-nous</h2>
      <br>
      <p>dimi972@yahoo.fr</p><br>
      <p>0696092870</p>
    </div>

    <div class="content">
      <img style="height:100%;" src="https://images.unsplash.com/photo-1571826867433-29518cc0b091?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"  alt="">
    </div>
  </div>

  <h1 class="title">Nos produits</h1><br>
  <div class="card-products">

    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1654747780214-bbfbeb4fd64a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card-product" >
      <img src="https://images.unsplash.com/photo-1654747780214-bbfbeb4fd64a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1654747780214-bbfbeb4fd64a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>



</div>
